body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

header {
    padding: 1rem 1rem;
    background-color: #fff;
}

header h1 {
    grid-column: 6 /span 9;
}

li {
    display: grid;
    justify-self: center;

}

header nav {
    grid-column: 6 / span 9;
    
}

nav a {
    text-decoration: none;
    color: #333;
}
