body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headergrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #848484;
}

#logotyp {
    width: 25%;
}

nav li {
    border: 1px solid #000;
    margin: 10px;
    padding: .3rem 1rem;

}


/* jag la till padding 0 för den hade padding 40 på vänster sida av någon anledning annars. */
nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#hero-img {
   width: clamp(30%, 70%, 90%);
}

.index-article p {
    padding: 0.4rem 1rem;
}

/* lades till aside och aside a */
aside {
    display:flex;
    justify-content: center;
    border: solid black 1px;
    /* margin: .5rem; */
}

aside a {
    text-decoration: none;
    margin: 10px;
    color: #000000;
    
    padding: .3rem .5rem;
}

aside ul {
    text-decoration: none;
    margin: 10px;
    color: #000000;
    padding: .3rem .5rem;
    display:flex;
    justify-content: center;

    list-style-type: none;
}





.best-sellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: .8rem;
}


/* här är flex: 1 1 45% samma sak som flex:growth 1; flex:shrink 1; flex-basis: 45%; */
.best-sellers article {
flex: 1 1 40%;
}

.best-sellers img {
    width: clamp(30%, 70%, 90%);
    height: 252px;
    /* height: clamp(15%, 20%, 25%); */
    /* här va vi tvugna att använda rem istället för % då våra bilder hade olika heights. Det fick texten under att bli ojämn med andra produkter. */
}



footer {
    display: flex;
    justify-content: space-around;
    background-color: #848484;
    color: white;
    padding: 2rem 1rem;
}

.logo-bottom {
    width: 20%;
}



@media (min-width:425px) {
    .best-sellers {
        flex-wrap: nowrap;


    }
    .best-sellers-article  {

        /* word-break: break-all; */
    }

    .best-sellers article img {
        height: 252px ;
        width: clamp(30%, 70%, 90%);
    }


    header.headergrid {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #848484;
        padding: 0;
        margin: 0;
    }



    nav ul {
        display: flex;
        justify-content: space-around;
        margin-right: 1%;
    }

    #logotyp {
        width: clamp(12%, 13%, 15%);
        margin-right: auto;
        margin-left: 1%;
    }

    
    .logo-bottom {
        width: 10%;
    }







   

}
